body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 메인 콘텐츠 - 사이드바와 피드를 가로로 배치 */
.main-content {
  display: flex; /* 가로로 배치 */
  flex: 1;
  margin-left: 220px; /* 사이드바 너비만큼 공간을 띄웁니다 */
  flex-direction: row; /* 가로로 배치 */
  padding-top: 60px; /* 헤더 높이만큼 여백을 추가 */
  overflow-y: auto;
}

/* 피드 컨테이너 */
.feed-container {
  flex: 1;
  padding: 20px;
  background-color: #f7fafd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}
